repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.2"
    hooks:
      - id: ruff
        args: ["--fix", "--unsafe-fixes"]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: trailing-whitespace
        exclude: ".*(.svg|.png|.jpeg|.jpg|.mp4)"
      - id: check-yaml
      - id: debug-statements
      - id: check-added-large-files
        args: ["--enforce-all", "--maxkb=4096"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/adhtruong/mirrors-typos
    rev: v1.38.1
    hooks:
      - id: typos
        args: []
ci:
  autofix_prs: false
  autoupdate_schedule: "quarterly"
